@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .nav-font {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
  }

  .flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .search-box {
    border: 0.1rem solid;
    border-color: gray;
    padding: 0.2rem;
    border-radius: 1rem;
  }

  .input-box {
    border: none;
    outline: none;
    background-color: transparent;
  }
}